# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
bin/
.env
distlib-0.4.0.dist-info/
Filelock-3.20.1.dist-info/
pip
pip-25.3.dist-info/
setuptools-67.6.0.dist-info/
virtualenv-20.35.4.dist-info/
platformdirs-4.5.1.dist-info/

# Downloads & Data
downloads/
cookies.txt
cookies.sqlite
*.mp3
*.webm
*.m4a
*.opus

# Local Config
youtube_urls.txt

# Temporary Setup Files
_setup_tmp/
get-pip.py
virtualenv.pyz

# IDEs
.vscode/
.idea/
